body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main {
    width: 100%;
    height: 100%;
}

#main #top {
    width: 100%;
    height: 80%;
}

#main #top #info {
    top: 0;
    left: 0;
    position: absolute;
}

#main #top #info div {
    padding: 3px;
    position: absolute;
}

#main #top #stage {
    width: 100%;
    height: 100%;
}

#main #top #controls {
    top: 0;
    right: 0;
    padding: 3px;
    position: absolute;
}

#main .gutter {
    cursor: ns-resize;
    background-color: #dddddd;
}

#main #top {
    width: 100%;
    height: 20%;
}

#main #bottom #captures {
    width: 100%;
    height: 100%;
}